* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'reiher-headline', 'sans-serif';
    font-style: normal;
    font-weight: 550;
}

nav li {
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0.3rem 0.8rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    background-color: rgb(127, 172, 255);
}

.title {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.welcome{
    text-align: center;
    padding: 0.7rem 0;
    font-size: 2.5rem;
}

.description {
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1.8rem;
}

.form-input {
    width: 700px;
    height: 40px;
    font-size: 16px;
    padding: 8px 12px 8px 40px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.form-control {
    position: relative;
    display: flex;
    align-items: center;
}

.fa-magnifying-glass {
    position: absolute;
    left: 12px;
    font-size: 18px;
    color: #555;
}

@media (max-width: 768px) {
    .form-input {
        width: 100%;
    }
}

.feature-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.feature-card {
    background: white;
    padding: 2rem;
    border: 2px solid rgb(127, 172, 255);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgb(79, 106, 157);
    height: 543px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    width: 450px;
    margin: 1rem auto;
    grid-auto-flow: column;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgb(79, 106, 157);
}

.feature-card p {
    color: black;
    margin: 0;
    max-width: 280px;
    margin: 0 auto;
    font-size: 27px;
    padding-top: 15px;
}

.feature-card h1 {
    color: black;
    padding-bottom: 15px;
    font-size: 27px;
}

.feature-card,
.feature-card * {
  text-decoration: none;
}

.footer {
    margin-top: 57px;
    padding-bottom: 35px;
    padding-top: 10px;
    background-color: rgb(127, 172, 255);
}

.footer-title {
    font-size: 27px;
    text-align: center;
    margin-bottom: 15px;
}

footer p {
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 1.4rem;
}

.contact-info {
    display: flex;
    gap: 40px; 
}

.email-btn {
    border: 1px solid rgb(127, 172, 255);
    border-radius: 15px;
    width: 300px;
    height: 45px;
    font-size: 1.3rem;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 40px;
}

#number-btn {
    border: 1px solid rgb(127, 172, 255);
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
} 

.star {
    display: flex;
}

.feature-card p.review {
    font-size: 28px;
}

.addReview {
    text-align: center;
    display: block;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    margin-left: 685px;
    background-color: white;
    border: 2px solid rgb(127, 172, 255);
    box-shadow: 0 2px 4px rgb(79, 106, 157);
}