* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'reiher-headline', 'sans-serif';
    font-style: normal;
    font-weight: 550;
}

nav li {
    font-size: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
    margin-left: auto;
    gap: 3rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: rgb(127, 172, 255);
}


#nav {
    margin-left: auto;
    margin-right: 0;
    
}